Quick Script is a powerful tool for creating custom PHP scripts on your Drupal site. Quick Scripts can be run from the admin interface, using Drush, on cron, or anonymously via a secure link. Quick Scripts can also be configured to use a form (defined with YAML) to collect data before running the script (useful for scripts with dynamic arguments).

<h3>List of Module Features</h3>
<ul>
  <li>Save your scripts and run anytime</li>
  <li>Built-in code editor with customizable themes</li>
  <li>Define a custom config form to run your script using the built-in YAML Form editor.
    Form values are available in your script using the <code>$_QS</code> variable.
  </li>
  <li>Easily cross-include scripts to pass information between them</li>
  <li>Set your scripts to automatically run on cron at various intervals</li>
  <li>Create a publicly accessible endpoint for your scripts</li>
  <li>Run your Quick Scripts with Drush using one simple command</li>
  <li>Encrypt your scripts using the <a href="https://www.drupal.org/project/encrypt" target="_blank">Encrypt module</a>
  </li>
</ul>
<br/>
<hr/>
<br/>
<h4>A Simple Quick Script</h4>
<img src="https://www.drupal.org/files/quick-script-screenshot_0.png" alt="" width="600"/>

<h4>Include Other Quick Scripts</h4>
<img src="https://www.drupal.org/files/quick-script-two.png" alt="" width="600"/>

<h4>Run on Cron and Create a Public URL</h4>
<img src="https://www.drupal.org/files/quick-script-advanced-settings.png" alt="" width="600"/>

<h4>View All Quick Scripts</h4>
<img src="https://www.drupal.org/files/quick-script-listing.png" alt="" width="600"/>

<h4>Create Forms for Dynamic Scripts</h4>
<img src="https://www.drupal.org/files/quick-script-yaml-form.png" alt="" width="600"/>

<h3>Documentation</h3>
Use the
<code>quickscript_include($machine_name)</code> function to easily cross-include your Quick Scripts. Want to just eval the code in place? Just use the
<code>quickscript_eval($machine_name)</code> function.

Run your Quick Scripts from Drush using <code>drush quickscript
  MACHINE_NAME</code>. Easily view all your scripts by running <code>drush quickscript-list</code>.

You can run your dynamic scripts with config forms by passing values into the drush command. For example: <code>drush qs
  MACHINE_NAME "key1=val1&key2=val2"</code>.
